.site-description{
    font-weight: bold;
}

.site-header:before {        
        background: rgba(0,0,0,.25);
}

.site-nav-left {
    color: #FFF;
    font-weight: bold;
}

.nav li a{
    opacity: 1.0;
}

.figure{
    margin: 20px 0;

    text-align: center;
    font-style: italic;
    font-size: 0.7em;
}

.figure img{
    margin: 0 auto;
}

.my-youtube-wrapper-class {
    position: relative;
    height: 100%;
    /* max-height: 500px; */
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.my-youtube-wrapper-class > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
